body{
  background-image: url("../resources/color5.png");
}

.main-container{
  background-color: white;
  color: black;
  position:fixed;
  top: 0px;
  left: 50%;
  margin-left: -25%;
  width:50%;
  height:100vh;
  text-align:center;
}

#panorama {
  margin:auto;
  width: 800px;
  height: 600px;
}
