<!DOCTYPE html>
<html>
  <head>
    <!--Ensure correct rendering and touch zooming-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Angular-->
    <script src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/modules/app.js"></script>
    <script type="text/javascript" src="/modules/clientAdminController.js"></script>
    <!--JQuery-->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <!--Bootstrap-->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--Custom styling-->
    <link rel="stylesheet" type="text/css" href="./style/styles.css">
    <!--Socket IO for chat-->
    <script src="../node_modules/socket.io-client/socket.io.js"></script>
    <!--File upload-->
    <script src="../node_modules/angular-file-upload/dist/angular-file-upload.min.js"></script>
  </head>
  <body ng-app="siteApp" ng-controller="clientAdminController">
  <div id="navbar" class="navbar-collapse">
    <!--Top navigation bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Panel de administración</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active:activeTab=='chats'}" ng-click="switchActiveTab('chats')"><a>Chats</a></li>
            <li ng-class="{active:activeTab=='page-admin'}" ng-click="switchActiveTab('page-admin')"><a>Personalizar página</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

    <div class=" container-fluid full-height-container" style="padding-top:50px;"  >
      <div class="container form-container">
        <!--CHATS SECTION-->

        <div class="flex-container-item" ng-show="activeTab=='chats'">
          <h1>Chats</h1>
          <ul class="nav nav-tabs" id="chat-nav-bar">
                <li  ng-class="{active:currentTab==0}" ng-click="setActiveChat(0);"><a >Opciones de administrador</a ></li>
                <li ng-repeat="chat in currentChats" ng-value="$index"  ng-click="setActiveChat($index+1);" ng-class="{active:currentTab==$index+1}"><a>{{chat.client}}</a></li>
          </ul>
            <h1 ng-show="currentTab==0"> Nuevas pestañas aparecerán cuando haya chats. </h1>
            <form ng-hide="currentTab==0" id="chat-form" class="form-horizontal" role="form" ng-submit="sendMessage();">
              <div class="form-group" style="max-width: 100%; margin:0px 0px 0px 0px;">
                  <div class="row input-el">
                    <div class="col-md-12">
                      <div id="chatbox">
                        <p style="color:gray" ng-hide="currentChats[currentTab-1].messages.length">No hay mensajes en este chat.</p>
                        <p ng-repeat="chatobj in currentChats[currentTab-1].messages"> <b  ng-class="{'lightyellow' : chatobj.username!='Administrador', 'lightpink' : chatobj.username=='Administrador'}">{{chatobj.username}}: </b> {{chatobj.message}} </p>
                      </div>
                    </div>
                  </div>
                  <div class="row input-el text-center">
                    <div class="col-md-12">
                      <div class="input-group" style="margin-top:20px;">
                        <textarea id="message-area" class="featturete  form-control" rows="1" style="margin-top:3px;padding-top:6px; "  placeholder="Tu mensaje aquí" ng-model="currentMessage" required my-enter="sendMessage();"></textarea>
                        <div class="input-group-btn">
                          <button type="submit" form="chat-form" class="featturete btn btn-default">Enviar </button>
                        </div><!-- /btn-group -->
                      </div>
                    </div>
                  </div>
                </div>
            </form>
        </div>
        <!--pAGE PERSONALIZATION SECTION-->
        <div class="flex-container-item" ng-show="activeTab=='page-admin'">
          <h1>Personaliza el contenido de tu página.</h1>
          <p> Personalizar comercio: </p>
          <select type="text" class="form-control" ng-model="currentClient" ng-change="changeClient()">
            <option value="Test Client" selected> Cliente de imagen fija </option>
            <option value="Fork And Knife"> Cliente de panoramica </option>
            <option value="Doghouse Brewing Co."> Cliente de galería </option>
          </select>
          <hr>
          <form id="header-form" name="headerForm" class="form-horizontal" role="form" ng-submit="changePage();">
            <h2>Encabezado</h2>
            <div class="input-group  input-el">
              <span class="input-group-addon" id="addon-title">Título de la página</span>
              <input type="text" name="titleInput" class="form-control"  placeholder="Título de la página" ng-model="pageContent.title" aria-describedby="addon-title">
            </div>
            <div class="input-group input-el">
              <span class="input-group-addon" id="addon-subtitle">Subtítulo de la página</span>
              <input type="text" name="subtitleInput" class="form-control"  placeholder="Subtítulo de la página" ng-model="pageContent.subtitle" aria-describedby="addon-subtitle">
            </div>
            <div class="input-group input-el" style="display:flex; justify-content:space-between;">
              <button type="submit" ng-disabled="headerForm.$pristine" form="header-form" class="btn btn-default">Guardar </button> <span  ng-show="headerForm.$submitted"><a target="_blank" ng-href="/client/{{client.web_url}}" style="color:#FF0080; text-decoration: underline;"> Ver cambios </a></span>
            </div>
          </form>
          <hr>
          <form id="section-form" name="sectionForm" class="form-horizontal" role="form" ng-submit="changePage();">
            <h2>Secciones</h2>
            <p> Personaliza los recuadros donde puedes poner características de tu comercio y los servicios que presta. </p>
            <div style=" margin-top: 10px;"ng-repeat="section in pageContent.features">
              <h3 style="display:inline;"> Sección {{$index+1}} </h3><a style="color:#FF0080; text-decoration: underline; cursor:pointer" ng-click="removeSection($index)"> (Eliminar sección) </a>
              <div class="input-group  input-el">
                <span class="input-group-addon" id="addon-section-title">Título de sección</span>
                <input type="text" name="sectionTitleInput" class="form-control"  placeholder="Título de la página" ng-model="section.title" aria-describedby="addon-section-title">
              </div>
              <div class="input-group input-el">
                <span class="input-group-addon" id="addon-section-subtitle">Contenido de la sección</span>
                <input type="text" name="sectionCubtitleInput" class="form-control"  placeholder="Subtítulo de la página" ng-model="section.content" aria-describedby="addon-section-subtitle">
              </div>
            </div>
            <div class="input-group input-el" style="display:flex;">
              <button type="submit" form="section" class="btn btn-default" ng-click="addSection()">Agregar sección</button>
            </div>
            <div class="input-group input-el" style="display:flex; justify-content:space-between;">
              <button type="submit" form="section-form" class="btn btn-default">Guardar </button> <span  ng-show="sectionForm.$submitted"><a target="_blank" ng-href="/client/{{client.web_url}}" style="color:#FF0080; text-decoration: underline;"> Ver cambios </a></span>
            </div>
          </form>
          <hr>
          <form id="components-form" name="componentsForm" class="form-horizontal" role="form" ng-submit="changePage();">
            <h2>Componentes</h2>
            <div style=" margin-top: 10px;">
              <!--Conditional section> Static photo-->
              <div ng-if="client.template_type=='static-photo'">
                  <h3> Foto estática </h3> <input type="radio" ng-value="true" ng-model="pageContent.iframe_enabled" checked> Activado <br><input type="radio" ng-value="false" ng-model="pageContent.iframe_enabled" > Desactivado<br><br>
                  <div  ng-show="pageContent.iframe_enabled">
                    <img ng-src="/resources/client-content/{{pageContent.iframe_content.image_name}}" style="height:300px;"></img>
                    <p> Cargar imagen </p>
                    <div class="input-el">
                      <input type="file"  class="file-upper" file-model="myFile" index="0"/><br/>
                    </div>

                  </div>
                  <div class="input-group input-el" style="display:flex; justify-content:space-between;">
                    <button type="submit" form="components-form" class="btn btn-default">Guardar </button> <span  ng-show="componentsForm.$submitted"><a target="_blank" ng-href="/client/{{client.web_url}}" style="color:#FF0080; text-decoration: underline;"> Ver cambios </a></span>
                  </div>
              </div>
              <!--Conditional section> Carousel-->
              <div ng-if="client.template_type=='carousel'" >
                <h3> Galería </h3>
                <div class="row">
                  <div class="col-md-4">
                    <input type="radio" ng-value="true" ng-model="pageContent.iframe_enabled" checked> Activado <br><input type="radio" ng-value="false" ng-model="pageContent.iframe_enabled" > Desactivado<br><br>
                  </div>
                  <div class="col-md-8">
                    <button type="submit" form="components-form" class="btn btn-default">Guardar </button> <span  ng-show="componentsForm.$submitted">
                  </div>
                </div>
                <div ng-show="pageContent.iframe_enabled">
                  <div ng-repeat="slide in pageContent.iframe_content.slides" >
                    <hr>
                    <p> Filmina {{$index+1}} <a style="color:#FF0080; text-decoration: underline; cursor:pointer" ng-click="removeSlide($index)"> (Eliminar diapositiva) </a></p>
                    <p> Imagen actual </p>
                    <img ng-src="/resources/client-content/{{slide.image}}" style="height:300px;"></img>
                    <div class="input-group  input-el">
                      <span> Cambiar imagen </span>
                      <input type="file"  file-model="myFiles[{{$index}}]" index="{{$index}}"/><br/>
                    </div>
                    <div class="input-group  input-el">
                          <span class="input-group-addon" id="addon-title">Texto</span>
                          <input type="text" name="slideCaption" class="form-control"  ng-model="slide.caption" aria-describedby="addon-title">
                    </div>
                  </div>
                  <hr>
                  <div class="input-group input-el" style="display:flex;justify-content:space-between;">
                    <button type="button" form="section" class="btn btn-default" ng-click="addSlide()">Agregar diapositiva</button> <a target="_blank" ng-href="/client/{{client.web_url}}" style="color:#FF0080; text-decoration: underline;"> Preview </a></span>
                  </div>
                  <div class="input-group input-el" style="display:flex; justify-content:space-between;">
                    <button type="button" class="btn btn-default" ng-click="changeSlider()">Guardar </button>
                  </div>
                </div>
              </div>
              <!--Conditional section> panoramic photo-->
              <div ng-if="client.template_type=='panoramic'">
                <h3> Foto panorámica </h3> <input type="radio" ng-value="true" ng-model="pageContent.iframe_enabled" checked> Activado <br><input type="radio" ng-value="false" ng-model="pageContent.iframe_enabled" > Desactivado<br><br>
                <div  ng-show="pageContent.iframe_enabled">
                  <img ng-src="/resources/client-content/{{pageContent.iframe_content.image_name}}" style="height:300px;"></img>
                  <h4> Para su correcta visualización, la imagen cargada debe ser una foto 360º, preferentemente de no más de 1024 píxeles de ancho.</h4>
                  <p> Cargar imagen </p>
                  <div class="input-el">
                    <input type="file"  file-model="myFile"  index="0"/><br/>
                  </div>

                </div>
                <div class="input-group input-el" style="display:flex; justify-content:space-between;">
                  <button type="submit" form="components-form" class="btn btn-default">Guardar </button> <span  ng-show="componentsForm.$submitted"><a target="_blank" ng-href="/client/{{client.web_url}}" style="color:#FF0080; text-decoration: underline;"> Ver cambios </a></span>
                </div>
              </div>

            </div>
          </form>
          <hr>
          <form id="social-form" name="socialForm" class="form-horizontal" role="form" ng-submit="changePage();">
            <h2>Chat y redes sociales</h2>
            <div class="row">

              <div class="col-md-2">
                <h3> Chat </h3> <input type="radio"  ng-value="true" ng-model="pageContent.chat_enabled" checked> Activado <br><input type="radio" ng-value="false"   ng-model="pageContent.chat_enabled"> Desactivado<br>
              </div>
              <div class="col-md-2">
                <h3> Facebook </h3> <input checked type="radio" ng-value="false" ng-model="pageContent.social_networks.facebook.enabled" > Desactivado<br><input type="radio" ng-value="true" ng-model="pageContent.social_networks.facebook.enabled"> Activado
                <div class="input-group  input-el"  ng-show="pageContent.social_networks.facebook.enabled">
                  <span class="input-group-addon" id="addon-title">URL</span>
                  <input  type="text"  class="form-control"ng-model="pageContent.social_networks.facebook.url"  aria-describedby="addon-section-title">
                </div>
              </div>
              <div class="col-md-2">
                <h3> Twitter </h3> <input checked type="radio" ng-value="false" ng-model="pageContent.social_networks.twitter.enabled" > Desactivado<br> <input type="radio" ng-value="true" ng-model="pageContent.social_networks.twitter.enabled"> Activado <br>
                <div class="input-group  input-el"  ng-show="pageContent.social_networks.twitter.enabled">
                  <span class="input-group-addon" id="addon-title">URL</span>
                  <input  type="text"  class="form-control" ng-model="pageContent.social_networks.twitter.url"  aria-describedby="addon-section-title">
                </div>
              </div>
              <div class="col-md-2">
                <h3> Google+ </h3><input checked type="radio" ng-value="false" ng-model="pageContent.social_networks.google_plus.enabled" > Desactivado<br>  <input type="radio" ng-value="true" ng-model="pageContent.social_networks.google_plus.enabled"> Activado <br>
                <div class="input-group  input-el"  ng-show="pageContent.social_networks.google_plus.enabled">
                  <span class="input-group-addon" id="addon-title">URL</span>
                  <input  type="text"  class="form-control" ng-model="pageContent.social_networks.google_plus.url"  aria-describedby="addon-section-title">
                </div>
              </div>
              <div class="col-md-2">
                <h3> Instagram </h3> <input checked type="radio" ng-value="false" ng-model="pageContent.social_networks.instagram.enabled" > Desactivado<br> <input type="radio" ng-value="true" ng-model="pageContent.social_networks.instagram.enabled"> Activado <br>
                <div class="input-group  input-el"  ng-show="pageContent.social_networks.instagram.enabled">
                  <span class="input-group-addon" id="addon-title">URL</span>
                  <input  type="text"  class="form-control" ng-model="pageContent.social_networks.instagram.url"  aria-describedby="addon-section-title">
                </div>
              </div>
              <div class="col-md-2">
                <h3> Youtube </h3> <input checked type="radio" ng-value="false" ng-model="pageContent.social_networks.youtube.enabled" > Desactivado<br> <input type="radio" ng-value="true" ng-model="pageContent.social_networks.youtube.enabled"> Activado <br>
                <div class="input-group  input-el"  ng-show="pageContent.social_networks.youtube.enabled">
                  <span class="input-group-addon" id="addon-title">URL</span>
                  <input  type="text"  class="form-control" ng-model="pageContent.social_networks.youtube.url"  aria-describedby="addon-section-title">
                </div>
              </div>
            </div>

            <div class="input-group input-el" style="display:flex; justify-content:center;">
              <button type="submit" ng-disabled="socialForm.$pristine" form="social-form" class="btn btn-default">Guardar </button> <span  ng-show="socialForm.$submitted"><a target="_blank" ng-href="/client/{{client.web_url}}" style="color:#FF0080; text-decoration: underline;"> Ver cambios </a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
