<!DOCTYPE html>
<html>
  <head>
    <!--Ensure correct rendering and touch zooming-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Pannellum-->
    <script src="/node_modules/pannellum/build/pannellum.js"></script>
    <link rel="stylesheet" type="text/css" href="/node_modules/pannellum/build/pannellum.css">
    <!--Angular-->
    <script src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/modules/app.js"></script>
    <script type="text/javascript" src="/modules/clientController.js"></script>
    <!--JQuery-->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <!--Bootstrap-->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--Custom styling-->
    <link rel="stylesheet" type="text/css" href="../style/home.css">
    <!--Socket IO for chat-->
    <script src="../node_modules/socket.io-client/socket.io.js"></script>
  </head>
  <body ng-app="siteApp">
    <nav-bar></nav-bar>
    <client-template></client-template>
  </body>
</html>
