<!DOCTYPE html>
<html>
  <head>
    <!--Ensure correct rendering and touch zooming-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Angular-->
    <script src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/modules/app.js"></script>
    <script type="text/javascript" src="/modules/clientController.js"></script>
    <!--JQuery-->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <!--Bootstrap-->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--Custom styling-->
    <link rel="stylesheet" type="text/css" href="./style/home.css">
  </head>
  <body ng-app="siteApp">
    <nav-bar></nav-bar>
    <div class="container-fluid purple-container full-height-container text-center" style="padding-top:50px;" >
      <h1> Error! Client not found. </h1>
    </div>
  </body>
</html>
