<!DOCTYPE html>
<html>
  <head>
    <!--Ensure correct rendering and touch zooming-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--JQuery-->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <!--Angular-->
    <script src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/modules/app.js"></script>
    <!--Bootstrap-->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./style/styles.css">
  </head>
  <body ng-app="siteApp">
    <!--Top navigation bar-->
    <nav-bar></nav-bar>
    <!--Main body container-->
    <div class="container-fluid fullscreen-container">
      <div class="container fullscreen-container ">
        <carousel></carousel>
      </div>
    </div>
      <!--Expo timeline-->
      <div class="flex-container container-fluid purple-container full-height-container">
        <div class="container">
          <!-- Three columns of text below the carousel -->
            <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1BLESQgQmIAXZg9nZBiQTacshdlbCSFfbDB1n-qyaZWc&font=Default&lang=en&initial_zoom=2&height=900' width='100%' height='900' frameborder='0'></iframe>
        </div>
      </div>
      <!-- START THE FEATURETTES -->
      <div class="flex-container container-fluid purple-container full-height-container">
        <div class="container">
          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-md-6">
                  <div class="flex-container-item text-center">
                    <img class="img-circle" src="http://placehold.it/140x140">
                    <h2>Sit amet.</h2>
                    <p>Suspendisse malesuada laoreet pellentesque. In pulvinar neque ac ipsum commodo, quis tristique erat blandit. </p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                  </div>
                  <div class="flex-container-item text-center">
                    <img class="img-circle" src="http://placehold.it/140x140">
                    <h2>Qui officia.</h2>
                    <p>Praesent tincidunt justo a metus fringilla, nec iaculis lorem dignissim.</p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="flex-container-item text-center">
                    <img class="img-circle pull" src="http://placehold.it/140x140">
                    <h2>Occaecat cupidatat.</h2>
                    <p>Mauris blandit porttitor neque in cursus. Quisque in porta nunc, sed elementum justo. </p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                  </div>
                  <div class="flex-container-item text-center">
                    <img class="img-circle pull" src="http://placehold.it/140x140">
                    <h2>Occaecat cupidatat.</h2>
                    <p>Mauris blandit porttitor neque in cursus. Quisque in porta nunc, sed elementum justo. </p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                  </div>
            </div>

          </div><!-- /.row -->
        </div>
      </div>

      <div class="flex-container full-height-container" style="background-image: url('../resources/white-gradient.jpg');">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <div class="flex-container-item text-center" >
            <h1> Our goal and our vision. </h1>
            <h2 style="color:#424242"> Some text explaining what we want to achieve and how we plan to achieve it; and why we are the best ones to do it. </h2>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
      <div class="flex-container full-height-container imaged-container" style="background-image: url('../resources/bck2.jpg');">
          <div class="text-center" style="width:40%" >
            <h1 style="color:white"> Contact us. </h1>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 input-el">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                  </div>
                  <div class="col-md-6  input-el">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12  input-el">
                    <textarea class="form-control" rows="4" placeholder="Yor message here" required></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group  input-el">
                      <button type="submit" class="btn btn-default">Submit</button>
                  </div>
               </div>
            </form>
          </div>
        </div>
      </div>

  </body>

</html>
