<!DOCTYPE html>
<html ng-app="panoramicApp">
	<head>
		<title> Panoramic Tour </title>
		<link rel="stylesheet" type="text/css" href="./style/tour.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/pannellum/build/pannellum.css">
		<script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/pannellum/build/pannellum.js"></script>
		<script type="text/javascript" src="/modules/main.js"></script>
	</head>
	<body>
	<div class="main-container" ng-controller="mainController as mainCtrl">
		<h1> Panoramic Tour </h1>
    <!--<div id="panorama"></div>-->
		<div id="panorama-container">
	    <div id="panorama-dummy"></div>
	    <div id="panorama"></div>
		</div>
	</div>
	</body>
</html>
